* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#container {
  width: 800px;
  height: 800px;
  background: radial-gradient(circle at center, #000010 0%, #000000 100%);
  position: fixed;
  top: 0;
  left: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}